name: CI

# yamllint disable-line rule:truthy
on:
  check_run:
    types:
    - rerequested
    - requested_action
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
    tags:
    - v*

env:
  GO111MODULE: "on"

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go:
        - 1.14.x
        - 1.15.x
        os:
        - macos-latest
        - windows-latest
        - ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Ensure tidy gomod
      run: |
        go mod download -x
        go mod tidy
        if ! git diff --exit-code
        then
          echo "go mod not tidy"
          exit 1
        fi

    - name: Lint
      if: matrix.os == 'ubuntu-latest'
      run: |
        make lint.all

    - name: Unit Tests
      run: |
        make test.unit

    - name: Report Test Coverage
      uses: codecov/codecov-action@v1
      # with:
      #   token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
      #   fail_ci_if_error: true # optional (default = false)

  # fuzz:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2

  #   - name: Install Go
  #     uses: actions/setup-go@v2
  #     with:
  #       # there are some issues for fuzz test with go1.15
  #       go-version: 1.14.x

  #   - name: Fuzz Tests
  #     run: |
  #       make install.fuzz
  #       make test.fuzz
